@import "tailwindcss";

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@layer base {
  :root {
    --font-sans: "PP Neue Montreal", system-ui, sans-serif;
    --font-display: "Helvetica Neue", system-ui, sans-serif;
    --bg-aurora: linear-gradient(
      90.92deg,
      #efebfd 0%,
      #dbedff 12.13%,
      #cef3ed 18.75%,
      #e1ebfe 25.57%,
      #fefefe 44.17%,
      #e8e7fd 70.83%,
      #c9e8fb 82.81%,
      #c4efd1 100%
    );
  }

  body {
    @apply font-sans bg-black text-white;
  }
}

@keyframes drawBorder {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-border {
  animation: drawBorder 2s ease-in-out forwards;
}

.button-blur-shadow svg {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)); 
}